<html>
	<head>
		{{include "head.meta.html.hbs" this}}
		<title>{{page.title}} - {{configure.site.sitename}}</title>
		{{include "head.css.html.hbs" this}}

		<style>
			.favorite_reg {
				color: yellow;
			}

			.favorite_unreg {
				color: gainsboro;
			}
		</style>
	</head>
	
	<body>
		<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
			{{include "header.html.hbs" this}}
		</div>
		
		<div class="" style="margin-top: 90px; width: 100%;overflow-x: hidden;">
			<div class="row">
				<div class="col-lg-8 col-md-8 cols-sm-8">
					<h5 style="color: white;background-color: black;padding: 10px;margin: 0 15px;border-radius: 15px;">
						<i class="fas fa-book-medical"></i>
						{{page.title}}
					</h5>
					<div class="d-flex flex-row flex-wrap">
						{{#each entries}}
						<div class="col-lg-6 col-md-6 cols-sm-12" style="display: flex;padding-top: 15px;position:relative;">
							<div style="position: absolute;padding: 10px;">
								<span class="badge badge-primary">{{date create_at}}</span>
							</div>
							<div style="display: flex;align-items: center;border: 1px solid #dee2e6;border-radius: 0.25rem;width:100%;">
								<div style="padding 0 10px;width:100%;">
									<i data-postid="{{post_id}}" class="fas fa-star favorite" style="cursor: pointer;font-size: 50px;position: absolute;top: 25px;right: 25px;"></i>
									<a href="/post/{{post_id}}.html"><img src="{{thumbnail}}" class="img-fluid"/></a>
									<a href="/post/{{post_id}}.html" style="display: inline-block;padding: 5px 5px;margin: 0;width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
										{{title}}
									</a>

									<div style="padding: 0 5px 10px 5px;">
										{{#each tags}}
										<a href="/tags/{{hash this}}/0.html"><span class="badge badge-secondary">{{this}}</span></a>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>

					
					<div class="d-flex flex-row justify-content-around" style="padding: 20px;">
						<a href="{{navi.prev}}" class="btn btn-outline-primary {{disabled navi.prev}}"><i class="fas fa-arrow-left"></i> 前のページ</a>
						<a href="{{navi.next}}" class="btn btn-outline-primary {{disabled navi.next}}"><i class="fas fa-arrow-right"></i> 次のページ</a>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 cols-sm-4">
					{{include "sidebar.html.hbs" this true}}
				</div>
			</div>
		</div>
		
        <hr/>
		{{include "footer.html.hbs" this}}

		<span id="javascript-container" style="display: none;">
			{{include "javascript.html.hbs" this}}

			<script type="text/javascript">
				$(function() {
					(function() {
						var favorites = localStorage.getItem("favorites");
						favorites = favorites ? JSON.parse(favorites) : {};

						$(".favorite").each(function() {
							var postId = $(this).attr("data-postid");
							$(this).addClass(favorites[postId] ? "favorite_reg" : "favorite_unreg");
						});
					})();

					$(".favorite").click(function() {
						var favorites = localStorage.getItem("favorites");
						favorites = favorites ? JSON.parse(favorites) : {};

						var selector = $(this);
						var postId = selector.attr("data-postid");
						if(selector.hasClass("favorite_reg")) {
							selector.removeClass("favorite_reg").addClass("favorite_unreg");
							delete favorites[postId];
						} else if(selector.hasClass("favorite_unreg")) {
							selector.removeClass("favorite_unreg").addClass("favorite_reg");
							favorites[postId] = {postId : postId};
						}
						localStorage.setItem('favorites', JSON.stringify(favorites));

					});

				});
			</script>
		</span>
	</body>
</html>
